@use '../common/global';
.policies {
  height: 380vh;
}
.policies::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("~images/top/bg_policy_base.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.policyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;             // 
  top: 0;
  left: 0;
  z-index: -1;                     // 重なり優先度
  transform: translate(0, 20px);  // 可視化される前の座標を下に 20px 下げておき、transition のあいだ、可視化後の座標まで移動する過程が見える
  width: 100%;
  height: 100vh;
  opacity: 0;
}


.policyItem.fadeup {
  position: fixed;            // この間は座標を固定化(relative から fix に)。
  transform: translate(0, 0); // 実際に固定化される座標
  opacity: 1;                 // 可視化
  transition: .35s ease;      // 座標に固定化されるまでの動作
}
